# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Lib/
Include/
Scripts/
pyvenv.cfg

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Workspace
.idea/
.vscode/

# Project Data
uploads/
data/job_embeddings_cache.pkl
data/job_embeddings_hash.txt
data/skills_taxonomy.json

# Build and configs
*.egg-info/
var/
.log
.DS_Store

